.style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.open-switch {
  transform: translateX(-25px);
}

.s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.s-icon i {
    line-height: 40px;
}

.style-switcher-toggler {
  top: 0;
}

.day-night {
  top: 50px;
}

.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.color-1 {
  background-color: #ec1839;
  cursor: pointer;
}
.color-2 {
  background-color: #fa5b0f;
  cursor: pointer;
}
.color-3 {
  background-color: #37b182;
  cursor: pointer;
}
.color-4 {
  background-color: #1854b4;
  cursor: pointer;
}
.color-5 {
  background-color: #f021b2;
  cursor: pointer;
}
.color-1:hover {
  opacity: 0.8;
}
.color-2:hover {
  opacity: 0.8;
}
.color-3:hover {
  opacity: 0.8;
}
.color-4:hover {
  opacity: 0.8;
}
.color-5:hover {
  opacity: 0.8;
}
