.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);

  &__section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    top: 0;
    right: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
  }

  &__info {
    flex: 0 0 60%;
    max-width: 60%;

    p {
      margin-bottom: 70px;
      font-size: 20px;
      color: var(--text-black-700);
    }
  }

  &__img {
    flex: 0 0 35%;
    max-width: 35%;
    text-align: center;
    position: relative;

    &::after {
      position: absolute;
      height: 60px;
      width: 60px;
      border-bottom: 10px solid var(--skin-color);
      border-right: 10px solid var(--skin-color);
      right: 20px;
      bottom: -40px;
      content: "";
    }

    &::before {
      position: absolute;
      height: 60px;
      width: 60px;
      border-top: 10px solid var(--skin-color);
      border-left: 10px solid var(--skin-color);
      left: 20px;
      top: -40px;
      content: "";
    }

    img {
      margin: auto;
      border-radius: 5px;
    }
  }

  &__about {
    font-size: 28px;
    margin: 15px 0;

    span {
      font-family: "Clicker Script", cursive;
      font-size: 30px;
      font-weight: 700;
      color: var(--skin-color);
    }
  }

  &__my-profession {
    font-size: 30px;
    margin: 15px 0;

    span {
      color: var(--skin-color);
    }
  }

  &__hidden {
    display: none !important;
  }
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.main-content {
  padding-left: 270px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background-color: var(--skin-color);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.none {
  display: none !important;
}

.block {
  display: inline-block !important;
}

@media only screen and (max-width: 991px) {
  .home {
    &__info {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &__img {
      display: none;
    }
  }
}
