.portfolio {
  &__heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    &--title {
      color: var(--text-black-900);
      font-weight: 500;
    }
  }

  &__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--inner {
      border: 6px solid var(--bg-black-100);
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .portfolio {
    &__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .portfolio {
    &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
