.services {
  &__container {
    padding-top: 40px;
  }

  &__item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;

    &--icon {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 30px;
      text-align: center;
      transition: all 0.3s ease;

      .fa {
        font-size: 40px;
        line-height: 60px;
        color: var(--skin-color);
        transition: all 0.3s ease;
      }
    }

    &--inner {
      background-color: var(--bg-black-100);
      border: 1px solid var(--bg-black-50);
      border-radius: 10px;
      padding: 30px 15px;
      text-align: center;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

        .services__item--icon {
          background: var(--skin-color);
        }
        .fa {
          font-size: 25px;
          color: #fff;
        }
      }

      h4 {
        font-size: 18px;
        margin-bottom: 15px;
        color: var(--text-black-900);
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        color: var(--text-black-900);
        line-height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .services {
    &__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .services {
    &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
